// https://css-tricks.com/snippets/css/a-guide-to-flexbox/

.noctis
  .row, .column
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: flex-start
    gap: 1em

  .row
    width: 100%
    flex-direction: row
    margin-bottom: 1em

  .column
    flex-direction: column

  .row.centered, .column.centered
    justify-content: center
    align-content: center

  .row.locked, .column.locked
    flex-wrap: nowrap

  .cell
    flex: 0 1 auto

  .cell.centered
    justify-content: center
    align-content: center
    align-items: center

  .cell.fixed
    flex: 0 1 6em

  .cell.full
    flex: 10 0 auto

  @media screen and (min-width: 800px)
    .cell
      flex: 1
