//- Form elements

@use "./theme"

#noctis
  input,
  textarea,
  select,
  button
    box-sizing: border-box

  // Remove spinners from text fields
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  input[type="text"]
    @include theme.input-open
    width: 100%

  textarea
    @include theme.input-closed
    width: 100%
    white-space: pre-line

  input[type="checkbox"]
    @include theme.input-closed
    width: 1em

  input[type="number"]
    @include theme.input-closed
    text-align: center
    -moz-appearance: textfield
    width: 2em

  select
    @include theme.input-closed
