@use "./flexbox"
@use "./form"
@use "./sheets"
@use "./theme"

.noctis
  font-family: "Verdana", "Arial"

  .noctis-box
    color: black
    background: white

  .noctis-section
    color: black
    background: white
    padding: 0.5em

  .noctis-section-title
    @include theme.white-black-border
    @include theme.blue-solid
    padding-left: 2px
    margin-bottom: 0.5em

  .noctis-box
    @include theme.white-black-border

  .noctis-box-title
    @include theme.blue-solid
    padding-left: 2px
