@use "./form"
@use "./sheets"
@use "./theme"

@import "./flexbox/main.scss"

// Roll20 style reset
.roll20-reset
  select, textarea, input[type="text"], input[type="number"], .uneditable-input, label, button
    all: initial

  // Restore some basic defaults
  button
    cursor: pointer

  .pictos
    font-family: "Pictos"

  .btn.repcontrol_add, .btn.repcontrol_edit, .btn.repcontrol_move, .btn.repcontrol_del
    @include theme.white-black-border
    @include theme.blue-solid

  .btn.repcontrol_del
    padding: 4px 10px

  .sheet-blank-button[type="action"]::before
    font-family: "dicefontd20"
    content: "t"

#noctis
  font-family: "Verdana", "Arial"

  .repositioned *
    position: inherit !important

  .narrow
    padding: 0.5rem

  .noctis-box
    color: black
    background: white
    text-align: center
    margin: auto

  .noctis-section
    color: black
    background: white
    padding: 0.5em
    width: 100%

  .noctis-section-icon
    position: absolute
    background: white
    border: thick solid goldenrod
    font-size: 24px
    width: 1.5em
    text-align: center
    box-shadow: 2px 2px

  .noctis-section-title
    @include theme.white-black-border
    @include theme.blue-solid
    padding-left: 2px
    margin-bottom: 0.5em

    h1, h2, h3, h4, h5, h6
      color: white

  .noctis-section-offset
    padding-left: 3em

  .noctis-box
    @include theme.white-black-border

  .noctis-box-title
    @include theme.blue-solid
    padding-left: 2px

    h1, h2, h3, h4, h5, h6
      color: white

  .noctis-button-green
    @include theme.white-black-border
    @include theme.green-background
    color: white

  .noctis-button-yellow
    @include theme.white-black-border
    @include theme.yellow-background
    color: white

  .noctis-button-red
    @include theme.white-black-border
    @include theme.red-background
    color: white

  // Roll20 overrides
  // For soak dice, which use d6
  // In Pug, use: button.soak-dice
  button[type=roll].soak-dice::before
    font-family: 'dicefontd6'
    content: 'F '
