@use "./form"
@use "./sheets"
@use "./theme"

@import "../../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss"

// Roll20 style reset
.roll20-reset
  select, textarea, input[type="text"], input[type="number"], .uneditable-input, label, button
    all: initial

  // Restore some basic defaults
  button
    cursor: pointer

  .pictos
    font-family: "Pictos"

  .btn.repcontrol_add, .btn.repcontrol_edit, .btn.repcontrol_move, .btn.repcontrol_del
    @include theme.white-black-border
    @include theme.blue-solid

  .btn.repcontrol_del
    padding: 4px 10px

  .sheet-blank-button[type="action"]::before
    font-family: "dicefontd20"
    content: "t"

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
    position: inherit !important

#noctis
  font-family: "Verdana", "Arial"

  .narrow
    padding: 0.5rem

  .noctis-box
    color: black
    background: white
    text-align: center
    margin: auto

  .noctis-section
    color: black
    background: white
    padding: 0.5em
    width: 100%

  .noctis-section-title
    @include theme.white-black-border
    @include theme.blue-solid
    padding-left: 2px
    margin-bottom: 0.5em

    h1, h2, h3, h4, h5, h6
      color: white

  .noctis-box
    @include theme.white-black-border

  .noctis-box-title
    @include theme.blue-solid
    padding-left: 2px

    h1, h2, h3, h4, h5, h6
      color: white

  .noctis-button-green
    @include theme.white-black-border
    @include theme.green-background
    color: white

  .noctis-button-yellow
    @include theme.white-black-border
    @include theme.yellow-background
    color: white

  .noctis-button-red
    @include theme.white-black-border
    @include theme.red-background
    color: white

  // Roll20 overrides
  // For soak dice, which use d6
  // In Pug, use: button.soak-dice
  button[type=roll].soak-dice::before
    font-family: 'dicefontd6'
    content: 'F '
