// This is in development.
// The intent is to hit that 90's JRPG look.
// Right now we only use it for the tabbed buttons

$border-white: #eee
$border-black: #111

$form-border: thin solid black

$gradient-bottom: rgba(2,0,36,1)
$gradient-top: rgba(160,212,255,1)
$gradient-mid: #516A92

$megalos-green: #4ABCAD
$megalos-yellow: #E69C55
$megalos-red: #9C3335
$megalos-blue: #4e8eb2

@mixin input-open
  border-bottom: $form-border

@mixin input-closed
  border: $form-border

@mixin white-black-border
  border-radius: 3px
  border-top: solid $border-white
  border-left: solid $border-white
  border-bottom: solid $border-black
  border-right: solid $border-black

@mixin black-white-border
  border-radius: 3px
  border-top: solid $border-black
  border-left: solid $border-black
  border-bottom: solid $border-white
  border-right: solid $border-white

@mixin blue-gradient
  background: $gradient-bottom
  background: linear-gradient(0deg, $gradient-bottom 0%, $gradient-top 100%)
  color: white

@mixin blue-solid
  background: $gradient-mid
  color: white

@mixin outlined-font
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

@mixin green-background
  background: $megalos-green

@mixin yellow-background
  background: $megalos-yellow

@mixin red-background
  background: $megalos-red

@mixin blue-background
  background: $megalos-blue
