.row
  .col-xs-3 Name
  .col-xs-7
    input(type="text" name="attr_armor_name")
  .col-xs-2
    button.noctis-button-announce(type="roll" name="announce_armor" value="&{template:announce} {{name=@{armor_name}}} {{text=@{armor_desc}}} {{Dodge=@{armor_dodge}}} {{Ward=@{armor_ward}}}")
.row
  .col
    textarea(name="attr_armor_desc" rows="3")
.row
  .col
    +box_value("Dodge", "armor_dodge")
  .col
    +box_value("Ward", "armor_ward")
  .col
    +box_value("Barrier", "barrier", "Uses")
  //- .col
  //-   +box_value("Soak", "armor_soak")
  //- .col
  //-   +box_value("AHP", "armor_hp")
.row
  .col
    .guard-block
      input.defense-warning-trigger(type="hidden" name="attr_status_save_immobilized" value="0")
      p.defense-warning-message IMMOBILIZED: Unable to move, -3 to Dodge.
    .guard-block
      input.defense-warning-trigger(type="hidden" name="attr_status_save_sick" value="0")
      p.defense-warning-message SICK: Disadvantage on saves, -3 to Dodge &amp; Ward
    .guard-block
      input.defense-warning-trigger(type="hidden" name="attr_condition_blink" value="0")
      p.defense-warning-message BLINK: Teleport 1 at the start or end of your turn as a Free action, +3 to Dodge &amp; Ward.
    .guard-block
      input.defense-warning-trigger(type="hidden" name="attr_condition_cloaked" value="0")
      p.defense-warning-message CLOAKED: Unhittable by single target attacks, advantage on Sneaks, +3 to Dodge &amp; Ward vs. AOE attacks.
    .guard-block
      input.defense-warning-trigger(type="hidden" name="attr_condition_cover" value="0")
      p.defense-warning-message COVER: +3 to Dodge &amp; Ward.
