//- Bonds

fieldset.repeating_bonds
  .row.repositioned
    .col-xs-11.repositioned
      input(type="text" name="attr_bondname" placeholder="Bond name")
    .col-xs-1.repositioned
      input(type="checkbox" name="attr_bondstressed")