//- Bonds

//- TODO repeating_section

fieldset.repeating_bonds
  .columns
    .column
      input(type="text" name="attr_bondname" placeholder="Bond name")
    .column.is-narrow
      input(type="checkbox" name="attr_bondstressed")