fieldset.repeating_inventory
  .row.repositioned
    .col-xs-12.repositioned
      input(type="text" name="attr_itemname" placeholder="Item name")
.row
  .col-xs-offset-2.col-xs-8
    +box_current_max("Inventory Points (IP)", "ip")
.row
  .col
    ul
      li Aether Point - 2 IP. You or an ally in range 0 may <i>Power Up!!</i> as a Free Action
      li Elixir - 2 IP. You or an ally in range 0 Heal (RB * 2)
      li Panacea - 2 IP. Gain Advantage on saves for the next 3 rounds
      li Phoenix Ash - 3 IP. Raise (RB) on an ally in range 0