fieldset.repeating_powers
  //- Hidden field to allow CSS selectors to work
  input(type="hidden" name="attr_powertype" class="attr_powertype_key")
  .attr_powertype_container
    .row
      .cell.fixed Name
      .cell
        input(type="text" name="attr_powername" placeholder="Power Name")
      .cell.fixed Type
      .cell
        input(type="text" name="attr_powertype" placeholder="Power Type" size="24" list="powertypes")
    .row
      .cell
        textarea(name="attr_powerdesc" placeholder="Power Description" rows="3")