//- Character Profile, including name, pronouns, etc.

mixin profilefield(attr, label)
  .row
    .col-xs-3= label
    .col-xs-9
      input(type="text" name=attr)&attributes(attributes)

+profilefield("attr_name", "Name")
+profilefield("attr_homeland", "Homeland")
+profilefield("attr_pronouns", "Pronouns")
+profilefield("attr_class", "Class")(list="classes")
+profilefield("attr_calling", "Calling")(list="callings")
+profilefield("attr_role", "Role")(list="roles")