//- Traits

mixin trait(attr, label)
  .row
    .col-xs-3= label
    .col-xs-8
      input(type="text" name=`attr_${attr}`)
    .col-xs-1
      button.sheet-blank-button.noctis-button-green(type="action" name="act_trait" data-trait-attr=attr)

+trait("talent_background", "Background")
+trait("talent_physical", "Physical")
+trait("talent_mental", "Mental")
+trait("talent_special", "Special")

    