//- Traits

-
  var trait_attributes = [
    {
      attr: "attr_trait_background",
      label: "Background"
    },
    {
      attr: "attr_trait_physical",
      label: "Physical"
    },
    {
      attr: "attr_trait_mental",
      label: "Mental",
    },
    {
      attr: "attr_trait_special",
      label: "Special"
    }
  ]

each entry in trait_attributes
  .columns
    .column.is-one-fifth= entry.label
    .column
      input(type="text" name=entry.attr list=entry.list)
    .column.is-narrow.pt-0
      button.noctis-button-green.d20(type="action" name="act_trait" data-trait-attr=attr)