//- Traits

-
  var trait_attributes = [
    {
      attr: "trait_background",
      label: "Background"
    },
    {
      attr: "trait_physical",
      label: "Physical"
    },
    {
      attr: "trait_mental",
      label: "Mental",
    },
    {
      attr: "trait_special",
      label: "Special"
    }
  ]

each entry in trait_attributes
  .columns
    .column.is-one-fifth= entry.label
    .column
      input(type="text" name=entry.attr list=entry.list)
    .column.is-narrow 
      button.sheet-blank-button.noctis-button-green(type="action" name="act_trait" data-trait-attr=attr)