//- Traits

mixin trait(attr, label)
  .row
    .col-xs-3= label
    .col-xs-8
      input(type="text" name=attr)
    .col-xs-1
      button.sheet-blank-button.noctis-button-green(type="action" name="act_trait")

+trait("attr_talent_background", "Background")
+trait("attr_talent_physical", "Physical")
+trait("attr_talent_mental", "Mental")
+trait("attr_talent_special", "Special")

    