.columns.is-vcentered
  .column.is-narrow Name
  .column
    input(type="text" name="attr_weapon_name")
  .column.is-narrow.pt-0
    button.noctis-button-announce(type="roll" name="announce_weapon" value="&{template:announce} {{name=@{weapon_name}}} {{text=@{weapon_desc}}} {{Auto-Attack=@{weapon_auto_attack}}} {{Core Damage=@{weapon_core_damage}}} {{Range=@{weapon_range}}}")
.columns
  .column
    textarea(name="attr_weapon_desc" rows="3")
.columns
  .column
    +box_value("Auto-Atk", "weapon_auto_attack")
  .column
    //- Do this manually because we're including a dynamic element in the "help" section
    .noctis-box
      h4.noctis-box-title Core Dmg
      .columns.is-centered
        .column
          .p-3
            input(type="number" name="attr_weapon_core_damage" value="0")
            p 
              | +
              span(name="attr_throne_damage")
              |
              | Throne
  .column
    +box_value("Range", "weapon_range")
  .column
    +box_value("Wpn Dice", "weapon_dice")
      button.noctis-button-red.d20(type="action" name="act_attack")
