.row
  .cell
    p Name
  .cell.full
    input(type="text" name="attr_armor_name")
.row
  .cell.full
    textarea(name="attr_armor_desc" rows="3")
.row
  .cell
    +box_value("Dodge", "armor_dodge")
  .cell
    +box_value("Ward", "armor_ward")
  .cell
    +box_value("Soak", "armor_soak")
  .cell
    +box_value("AHP", "armor_hp")
