//- Bonds

fieldset.repeating_bonds
  .columns.is-vcentered
    .column
      .field
        .control
          input.input.is-expanded(type="text" name="attr_bondname" placeholder="Bond name")
    .column.is-narrow
      input(type="checkbox" name="attr_bondstressed")