//- Core rule classes
datalist#classes
  option Invoker
  option Throne
  option Witch

//- Core rule callings
datalist#callings
  option Arklight
  option Champion
  option Shadowblade
  option Astromancer
  option Chanter
  option Raconteur
  option Draloi
  option Psythe
  option Rune Magus

//- Core rule roles
datalist#roles
  option Tank
  option Striker
  option Support

//- Megalos skills
datalist#skillnames
  option Attune
  option Bargain
  option Create
  option Drive
  option Finesse
  option Force
  option Hunt
  option Inspect
  option Learn
  option Move
  option Perform
  option Restore
  option Sneak
  option Survive
  option Talk
  option Watch
  option Cautious (Cutscene)
  option Clever (Cutscene)
  option Forceful (Cutscene)
  option Quick (Cutscene)