//- Character Profile, including name, pronouns, etc.

include bulma_form

+input("attr_name", "Name")
+input("attr_homeland", "Homeland")
+input("attr_pronouns", "Pronouns")
+input("attr_class_calling", "Class & Calling")
