//- A roll template for saving throws

//- Usage:
//- &{template:save} {{name=Attune}} {{roll=[[1d20]]}}

rolltemplate.sheet-rolltemplate-save
  .sheet-rolltemplate-header
    h3= "{{name}}"
  .sheet-rolltemplate-outcome
    p= "You roll: {{roll}}"
    //- TODO: effect, once we get custom roll parsing