.row
  .col
    +section("Import")
      p Paste the Export from the MEGALOS character maker here, then click "Import".
      p WARNING: this will delete ALL existing character data!
      textarea(name="attr_jsonimport" rows="8")
      button.noctis-button-red(type="action" name="act_jsonimport") Import