.sheet.sheet-page1
  .row
    //- Top level
    +section()
      .row
        #sheet-logo MEGALOS
        +box_current_max("HP", "hp")
        +box_current_max("Armor HP", "armor_hp")
        +box_current_max("Recovery", "recovery")
  .row
    .col
      //- Left column
      +section("Character Profile")
        include sections/profile
      +section("Bonds")
        include sections/bonds
      +section("Weapon")
        include sections/weapon
      +section("Armor")
        include sections/armor
      +section("Soak")
        include sections/soak
    .col
      //- Right column
      +section()
        .row
          +box_value("Level", "level")
          +box_value("XP", "xp")
          +box_value("RB", "rb")
      +section("Skills")
        include sections/skills
      +section("Traits")
        include sections/traits
      +section("Inventory")
        include sections/inventory
