mixin aether_current_die(number)
  .column.centered.noctis-box
    .cell.noctis-box-title
      p= `AC ${number}`
    .cell.centered
      select(name=`attr_aether_current_${number}`)
        option Available
        option Used
        option Throne Damage
        option Astral Seal
        option Umbral Seal
        option Weak Charge
        option Surging Charge
      button.sheet-blank-button(type="action" name="act_aethercurrent" data-aethercurrent-number=number)

.sheet.sheet-page2
  .row
    .cell
      .column
        .cell
          +box_current_max("HP", "hp")
        .cell
          +box_current_max("Recovery", "recovery")
    .cell
      .column
        .cell
          +box_current_max("Armor HP", "armor_hp")
        .cell
          +box_value("RB", "rb")
    .cell
      +section("Aether Current")
        textarea(name="attr_aether_current" placeholder="Aether Current Rules" rows="6")
  .row
    each val in [1, 2, 3, 4, 5]
      .cell
        +aether_current_die(val)
  .row
    .cell
      +section("Powers")
        fieldset.repeating_powers
          .row
            .cell.full
              input(type="text" name="attr_powername" placeholder="Power Name")
            .cell
              select.select(name="attr_powertype")
                option Talent
                option Calling Bonus
                option Invocation
                option Arcana
                option Charged Strike
                option Combo Strike
                option Counter
                option Finisher
                option Sorcery
                option Cantrip
                option Artifact
          .row
            .cell
              textarea(name="attr_powerdesc" placeholder="Power Description" rows="3")