include containers

.roll20-reset
  #noctis
    #megalos-sheet
      //- Page buttons, found in tabstoggle.js and tabstoggle.sass
      input.sheet-tabstoggle(type="hidden" name="attr_sheetTab" value="page1")
      .sheet-tabs-listing
        button(type="action" name="act_page1") Character
        button(type="action" name="act_page2") Powers
        button(type="action" name="act_page3") Conditions

      //- Include individual sheets in their entirety
      include sheet-page1
      include sheet-page2
      include sheet-page3

//- Pull in datalists for auto completing text fields
include datalists

//- TODO: convert to typescript
script(type="text/worker")
  include:typescript sheetworkers.ts
  include tabstoggle.js

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.pictos.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del
