.sheet.sheet-page1
  .column
    .row
      .cell
        //- Top level
        +section()
          .row.centered
            .cell
              #sheet-logo MEGALOS
            .cell
              +box_current_max("HP", "hp")
            .cell
              +box_current_max("Armor HP", "armor_hp")
            .cell
              +box_current_max("Recovery", "recovery")

    .row
      //- Left column
      .cell
        .column
          .cell
            +section("Character Profile")
              include sections/profile
          .cell
            +section("Bonds")
              include sections/bonds
          .cell
            +section("Weapon")
              include sections/weapon
          .cell
            +section("Armor")
              include sections/armor
          .cell
            +section("Soak")
              include sections/soak
      //- Right column
      .cell
        .column
          .cell
            +section()
              .row
                .cell
                  +box_value("Level", "level")
                .cell
                  +box_value("XP", "xp")
                .cell
                  +box_value("RB", "rb")
          .cell
            +section("Skills")
              include sections/skills
          .cell
            +section("Traits")
              include sections/traits
          .cell
            +section("Inventory")
              include sections/inventory
