.sheet.sheet-page1
  .row
    //- Top level
    +section()
      .row
        .col-xs-4
          #sheet-logo MEGALOS
        .col
          .row
            .col-xs-4
              +box_current_max("HP", "hp")
            .col-xs-4
              +box_current_max("Armor HP", "armor_hp")
            .col-xs-4
              +box_current_max("Recovery", "recovery")
  .row
    .col-xs-6
      //- Left column
      +section("Character Profile")
        include sections/profile
      +section("Bonds")
        include sections/bonds
      +section("Weapon")
        include sections/weapon
      +section("Armor")
        include sections/armor
      +section("Soak")
        include sections/soak
    .col-xs-6
      //- Right column
      +section()
        .row
          .col-xs-4
            +box_value("Level", "level")
          .col-xs-4
            +box_value("XP", "xp")
          .col-xs-4
            +box_value("RB", "rb")
      +section("Skills")
        include sections/skills
      +section("Traits")
        include sections/traits
      +section("Inventory")
        include sections/inventory
