// Import our new framework
@import "./noctis/noctis"
@import "./rolltemplates"
@import "./tabstoggle"

#sheet-logo
  font-family: "Shadows Into Light", "Arial"
  font-size: 64px
  border-bottom: thick dotted gray

.show-combat-effects-section
  display: none

.show-combat-effects-toggle[value="on"] ~ .show-combat-effects-section
  display: block

.unlock_ac5_toggle:not([value="on"]) ~ .ac_die_5
  display: none

.aether-current-charges col
  padding-top: 0px

.powertype_toggle:not([value="Cantrip"]) ~ .aether-current-charges
  display: none

.defense-warning-trigger[value="0"] ~ .defense-warning-message,
.defense-warning-trigger[value=""] ~ .defense-warning-message
  display: none

// Uncomment to support styling individual powers based on power type

// .attr_powertype_key[value="Talent"] ~ .attr_powertype_container
//   background: red

// .attr_powertype_key[value="Calling Bonus"] ~ .attr_powertype_container
//   background: blue

// .attr_powertype_key[value="Invocation"] ~ .attr_powertype_container
// .attr_powertype_key[value="Arcana"] ~ .attr_powertype_container
// .attr_powertype_key[value="Charged Strike"] ~ .attr_powertype_container
// .attr_powertype_key[value="Combo Strike"] ~ .attr_powertype_container
// .attr_powertype_key[value="Counter"] ~ .attr_powertype_container
// .attr_powertype_key[value="Finisher"] ~ .attr_powertype_container
// .attr_powertype_key[value="Sorcery"] ~ .attr_powertype_container
// .attr_powertype_key[value="Cantrip"] ~ .attr_powertype_container
// .attr_powertype_key[value="Artifact"] ~ .attr_powertype_container
