//- Helpers for blocking out sections of the sheet
include containers

.container#megalos-sheet
  input.sheet-tabstoggle(type="hidden" name="attr_sheetTab" value="page1")
  .sheet-tabs-listing
    button(type="action" name="act_page1") Character
    button(type="action" name="act_page2") Powers
    button(type="action" name="act_page3") Conditions &amp; Status

  include sheet-page1
  include sheet-page2
  include sheet-page3

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  include sheet.js
  include tabstoggle.js

//- Roll templates
//- include rolltemplate-check
//- TODO: attacks
//- include rolltemplate-soak
//- include rolltemplate-save