include bulma_form

mixin skillname(attr)
  .field
    .control
      input.input.is-expanded(type="text" name=attr placeholder="Skill name" list="skillnames")&attributes(attributes)

mixin skillrank(attr)
  .field.has-addons
    .control
      input.input.boxed-value(type="number" name=attr placeholder="Skill rank" min="1" max="5")&attributes(attributes)
    .control
      if block
        block

fieldset.repeating_skills
  .columns
    .column.is-three-quarters
      +skillname("attr_skillname")
    .column.is-one-quarter
      +skillrank("attr_skillrank")
        button.button(type="roll" value="&{template:check} {{name=@{skillname}}} {{roll=[[@{skillrank}d20>?{Difficulty|15}]]}}" name="roll_rank")
        
.columns
  .column.is-three-quarters
    +skillname("default_skillname")(value="All Others" disabled=true)
  .column.is-one-quarter
    +skillrank("default_skillrank")(value="1" disabled=true)
      button.button(class="button" type="roll" value="&{template:check} {{name=Untrained Skill}} {{roll=[[1d20>?{Difficulty|15}]]}}" name="roll_rank")