include containers

//- Show a single box for holding a numeric value, e.g. Soak
mixin soak_value(label, attr_name)
  article.message.is-primary
    .message-header
      p= label
    .message-body
      .columns
        .column
          .field.has-addons
            .control
              input.input.is-expanded.boxed-value(type="number" name=`attr_soak_${attr_name}` size="4" value="0")
            .control
              button.sheet-blank-button(type="roll" value=`&{template:soak} {{name=${label}}} {{roll=[[@{soak_dice}d6kh1+@{soak_${attr_name}}]]}}` name="roll_soak")

.columns.is-multiline
  .column
    +soak_value("Physical", "physical")
  .column
    +soak_value("Astral", "astral")
  .column
    +soak_value("Umbral", "umbral")
  .column
    +soak_value("Toxic", "toxic")
  .column
    +box_value("Soak Dice", "soak_dice")