@use "noctis/theme"

@for $page from 1 through 5
  // Hide tabs that aren't active
  #megalos-sheet .sheet-tabstoggle:not([value="page#{$page}"]) ~ .sheet.sheet-page#{$page}
    display: none

  // Highlight the button for the active tab
  #megalos-sheet .sheet-tabstoggle[value="page#{$page}"] ~ .sheet-tabs-listing button[data-tab="page#{$page}"]
    color: goldenrod

// Styling for the buttons
#noctis .sheet-tabs-listing
  display: flex
  flex-wrap: wrap
  justify-content: center

  button
    @include theme.white-black-border
    @include theme.blue-solid
    @include theme.outlined-font
    padding-left: 2px
    padding-right: 2px
    padding-top: 2px
    font-family: "Candal", "Georgia", "Arial"
    font-size: 24px
