/*Configure the tab buttons*/
#megalos-sheet .sheet-page1,
#megalos-sheet .sheet-page2,
#megalos-sheet .sheet-page3,
#megalos-sheet .sheet-page4
  display: none

/* show the selected tab */
#megalos-sheet .sheet-tabstoggle[value="page1"] ~ .sheet-page1,
#megalos-sheet .sheet-tabstoggle[value="page2"] ~ .sheet-page2,
#megalos-sheet .sheet-tabstoggle[value="page3"] ~ .sheet-page3,
#megalos-sheet .sheet-tabstoggle[value="page4"] ~ .sheet-page4
  display: block

// Styling for the buttons
.sheet-tabs-listing
  display: flex
  flex-wrap: wrap
  justify-content: center

  // button
  //   border: thick solid black
  //   padding: 4px
  //   margin-left: 2px
  //   margin-right: 2px
