//- Page buttons, found in tabstoggle.js and tabstoggle.sass
input.sheet-tabstoggle(type="hidden" name="attr_sheetTab" value="page1")
.sheet-tabs-listing
  button(type="action" name="act_page" data-tab="page1") Character
  button(type="action" name="act_page" data-tab="page2") Powers
  button(type="action" name="act_page" data-tab="page3") Conditions
  button(type="action" name="act_page" data-tab="page4")
    span.noctis-emoji &#x1F479;
  button(type="action" name="act_page" data-tab="page5")
    span.noctis-emoji &#x2699;