input.input.is-full(type="text" name="attr_talent_background" placeholder="Background")
input.input.is-full(type="text" name="attr_talent_physical" placeholder="Physical")
input.input.is-full(type="text" name="attr_talent_physical" placeholder="Mental")
input.input.is-full(type="text" name="attr_talent_special" placeholder="Special")