//- Talents

include bulma_form

+input("attr_talent_background", "Background")
+input("attr_talent_physical", "Physical")
+input("attr_talent_mental", "Mental")
+input("attr_talent_special", "Special")