//- TODO NOCTIS use new columns
//- TODO NOCTIS replace +input mixin

//- Traits

mixin trait(attr, label)
  .row
    .cell
      p= label
    .cell.full
      input.input.is-expanded(type="text" name=attr)
    .cell
      button.sheet-blank-button(type="action" name="act_trait")

+trait("attr_talent_background", "Background")
+trait("attr_talent_physical", "Physical")
+trait("attr_talent_mental", "Mental")
+trait("attr_talent_special", "Special")

    