//- Traits

mixin trait(attr, label)
  .row
    .cell.fixed
      p= label
    .cell.full
      input(type="text" name=attr)
    .cell
      button.sheet-blank-button.noctis-button-green(type="action" name="act_trait")

+trait("attr_talent_background", "Background")
+trait("attr_talent_physical", "Physical")
+trait("attr_talent_mental", "Mental")
+trait("attr_talent_special", "Special")

    