.row
  .cell
    p Name
  .cell.full
    input(type="text" name="attr_weapon_name")
.row
  .cell.full
    textarea(name="attr_weapon_desc" rows="3")
.row
  .cell
    +box_value("Core Dmg", "weapon_core_damage")
  .cell
    +box_value("Range", "weapon_range")
  .cell
    +box_value("Wpn Dice", "weapon_dice")
      button.sheet-blank-button(type="action" name="act_attack")
