//- Megalos skills
datalist#skillnames
  option Attune
  option Bargain
  option Create
  option Drive
  option Finesse
  option Force
  option Hunt
  option Inspect
  option Learn
  option Move
  option Perform
  option Restore
  option Sneak
  option Survive
  option Talk
  option Watch
  option Cautious (Cutscene)
  option Clever (Cutscene)
  option Forceful (Cutscene)
  option Quick (Cutscene)