include section

.megalos-sheet
  section#megalos-biography
    .columns
      .column.w6
        input(type="text" name="attr_name" placeholder="Character Name")
        input(type="text" name="attr_pronouns" placeholder="Pronouns")
      .column.w6
        input(type="text" name="attr_class_calling" placeholder="Class & Calling")
        input(type="text" name="attr_homeland" placeholder="Homeland")
  section#megalos-main
    .columns
      .column.w6#skills
        +section("Skills")
          include skills

      .column.w6#traits-inventory
        +section("Talents")
          include talents

        +section("Inventory")
          include inventory

  //- Pull in datalists for auto completing text fields
  include datalists

script(type="text/worker")
  include sheet.js