@charset "utf-8"

.columns
  display: flex

.columns > .column
  margin: .1em
  padding: .3em
  flex: 1

.column25
  flex: 3 !important

.column33
  flex: 4 !important

.column50
  flex: 6 !important

.column66
  flex: 8 !important

.column75
  flex: 9 !important

.column100
  flex: 12 !important

input
  width: 100%
  margin: .1em !important
  padding: .3em !important
  background: white
