input(type="text" name="attr_talent_background" placeholder="Background")
input(type="text" name="attr_talent_physical" placeholder="Physical")
input(type="text" name="attr_talent_physical" placeholder="Mental")
input(type="text" name="attr_talent_special" placeholder="Special")